<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .red {
            color: red;
        }
        
        .wrong {
            text-decoration: line-through;
        }
        
        .canvas {
            width: 400px;
            height: 200px;
            margin-top: 30px;
            background-color: #ddd;
        }
    </style>
</head>

<body>
    <h1> First VUE!</h1>
    <div id="app">
        <h2>{{ title }}</h2>
        <p>{{ greet('midnight') }}</p>
        <a :href="url">Udemy website</a>
        <p :class="classes">this is very hard to keep coding!</p>
        <h3 v-if="showName">{{ name }}</h3>
        <h3 v-else="showName">name is private</h3>
        <button @click="toggleShowname">toggle {{showName}}</button>
        <div class="canvas" @mousemove="changeCords">{{ cords.x }} , {{ cords.y }}</div>

        <input type="text" name="" id="" @keyup="updateName">
        <input type="text" name="" id="" v-model="name">
        <input type="text" name="" id="" v-model="name">
        <a href="http://www.google.com" @click.prevent="logClick">
        Google</a>
    </div>

    <script src="app.js">
    </script>
</body>

</html>